body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #fbc2eb, #a6c1ee);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #333;
    margin-top: 0;
    transition: color 0.3s;
}

h1:hover {
    color: #f06292;
}

p {
    margin-top: 0;
    transition: transform 0.3s;
}

p:hover {
    transform: scale(1.05);
}

h2 {
    margin-top: 30px;
    color: #555;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.cv-item {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.cv-item:hover {
    transform: scale(1.05);
}

.cv-item h3 {
    margin-bottom: 5px;
    color: #333;
}

.cv-item p {
    margin-top: 0;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
}

.contact-details>div {
    flex: 0 0 50%;
}
